@model IEnumerable<AppDev.Models.RequestCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>List of requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.IsApproved == true)
                {
                    <td>Yes</td>
                }
                else if (item.IsApproved == null)
                {
                    <td>
                        <a asp-action="Approve" asp-route-id="@item.Id">Pending</a>
                    </td>
                }
                else
                {

                    <td>
                        <a asp-action="Approve" asp-route-id="@item.Id">No</a>
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
